.DS_Store
._*
Thumbs.db
Desktop.ini
.vscode/
*.code-workspace
.idea/
*.iml
*.iws
*.swp
*.swo
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.class
*.jar
*.war
target/
node_modules/
npm-debug.log
yarn-error.log
dist/
*.o
*.a
*.out
*.vtk
*.raw
*.npy
*.dat
*.prot
*.nii
*.nii.gz
*.mat
.gitignore
@eaDir